body {
    background-color: black;
}

body video{ /*aqui linka a imagem que está no body do HTML e faz a centralização da imagem*/
    display: flow-root;
    margin-left: auto;
    margin-right: auto;
}