body {
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.fundo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 24px;
    color: white;
    margin: 10px;    

}

p {
    width: auto;
    font-size: 18px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    letter-spacing: 0.3px;
}

.main{
    display: flex;
    justify-content: center;
    height: 620px;
    align-items: center;
}

form {
    display: flex;
    background-color: black;
    border-radius: 7px;
    align-items: center;
    justify-content: center;   
    flex-direction: column;
}

textarea {
    width: 400px;
    height: 30px;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    color: black;
    resize: none;
}

input {
    font-size: 15px;
    width: auto;
    height: 30px;
    margin: 0px 0px 0px;
}

button {
    font-size: 18px;
    color:  gray;
    margin: 4px;
}
