#videoSkull{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.positionRelative{
    position: relative
}

.positionAbsolute{
    position:absolute; 
    top:0px; 
    left: 0px; 
    right: 0px;
}

